<!-- <p>update-articulos works!</p> -->
<h3>Nuevo artículo</h3>
<hr>
<form>
  <input type="number" name="codigo" placeholder="Código de artículo" >
  <input type="text" name="nombre" placeholder="Nombre">
  <input type="text" name="desc" placeholder="Descripción">
  <input type="number" name="precio" placeholder="Precio unitario">
  <input type="number" name="stock" placeholder="Unidades de Stock">
  <input type="number" name="security" placeholder="Stock de Seguridad">
  <input type="text" name="imagen" placeholder="Imagen">

  <button type="submit">Agregar</button>
</form>
