<!-- <p>agregar works!</p> -->
<h3>Nuevo artículo</h3>
<hr>
<form (ngSubmit)="agregar()" [formGroup]="formularioArti">
  <!-- <input type="number" name="codigo" placeholder="Codigo"  formControlName="codArticulo"> -->
  <input type="text" name="nombre" placeholder="Nombre"  formControlName="nombre">
  <input type="text" name="desc" placeholder="Descripción" formControlName="descripcion">
  <input type="number" name="precio" placeholder="Precio unitario" formControlName="precio">
  <input type="number" name="stock" placeholder="Unidades de Stock" formControlName="stock">
  <input type="number" name="security" placeholder="Stock de Seguridad" formControlName="securityStock">
  <input type="text" name="image" placeholder="Imagen" formControlName="imagen">

  <button type="submit">Agregar</button>
</form>

