<div class="surface-card p-4 shadow-2 border-round w-full lg:w-4" style="margin: 10px auto">
  <h2 class="text-center">Actualizar Cliente</h2>
  <form (ngSubmit)="update()" >
      <label for="nombre" class="block text-900 font-medium mb-2">Nombre</label>
      <input id="nombre" type="text" pInputText class="w-full mb-3" name="nombre" placeholder="Nuevo Nombre: " [(ngModel)]="cliente.nombre">

      <label for="apellidos" class="block text-900 font-medium mb-2">Apellidos</label>
      <input id="apellidos" type="text" pInputText class="w-full mb-3" name="apellidos" placeholder="Apellidos: " [(ngModel)]="cliente.apellidos">

      <label for="empresa" class="block text-900 font-medium mb-2">Empresa</label>
      <input id="empresa" type="text" pInputText class="w-full mb-3" name="empresa" placeholder="Empresa: " [(ngModel)]="cliente.empresa">

      <label for="puesto" class="block text-900 font-medium mb-2">Puesto</label>
      <input id="puesto" type="text" pInputText class="w-full mb-3" name="puesto" placeholder="Nuevo Puesto: " [(ngModel)]="cliente.puesto">

      <label for="cp" class="block text-900 font-medium mb-2">Código postal</label>
      <p-inputNumber type="number" id="cp" class="w-full mb-3" name="CP" placeholder="Codigo Postal: " [(ngModel)]="cliente.cp"></p-inputNumber>

      <label for="provincia" class="block text-900 font-medium mb-2">Provincia</label>
      <input id="provincia" type="text" pInputText class="w-full mb-3" name="provincia" placeholder="Provincia: " [(ngModel)]="cliente.provincia">

      <label for="telefono" class="block text-900 font-medium mb-2">Teléfono</label>
      <p-inputNumber type="number" id="telefono" class="w-full mb-3"  name="telefono" placeholder="Nuevo Telefono: " [(ngModel)]="cliente.telefono" ></p-inputNumber>

      <label for="fecha" class="block text-900 font-medium mb-2">Fecha de nacimiento</label>
      <input id="fecha" type="date" class="w-full mb-3" name="fecha" placeholder="Fecha: " [(ngModel)]="cliente.fechaNacimiento">

      <button pButton pRipple label="Guardar" class="w-full"></button>
  </form>
</div>
