<!-- <p>main works!</p> -->
<h1>Artículos</h1>
<hr />

<div class="row">
  <div class="col-6">
    <h3>Artículos</h3>
    <hr />
    <table>
      <thead>
        <tr>
          <th>Cod. Artículo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio/Unidad</th>
          <th>Unidades de stock</th>
          <th>Stock de Seguridad</th>
          <th>Imágen</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of articulo">
          <td>{{ item.codArticulo }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.precio | currency: "EUR" }}</td>
          <td>{{ item.stock }}</td>
          <td>{{ item.securityStock }}</td>
          <td><img src="{{ item.imagen }}" style="width: 5rem" /></td>
          <td><button type="button" (click)="eliminarArticulo()">Del</button>
            <button pButton icon="pi pi-pencil" type="button" class="p-button-warning" (click)="redirigirUpdate(item)">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
