
<app-table-compras></app-table-compras>

<p-table responsiveLayout="stack">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h2>Compras</h2>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Código cliente</th>
      <th>Código articulo</th>
      <th>Fecha</th>
      <th>Unidades</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body">
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>s
      <td>0</td>
      <td>
        <button pButton icon="pi pi-pencil" type="button" class="p-button-warning"></button>
        <span style="margin: auto 5px"></span>
        <button pButton icon="pi pi-trash" type="button" class="p-button-danger"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <!-- <div class="flex align-items-center justify-content-between">
        En total hay {{compras ? compras.length : 0 }} clientes.
    </div> -->
  </ng-template>
</p-table>


