<h3>Nuevo Cliente</h3>
<hr>
<form  (ngSubmit)="add()">
  <input type="text" name="nombre" placeholder="Nuevo Nombre: " [(ngModel)]="nuevo.nombre">
  <input type="text" name="apellidos" placeholder="Apellidos: " [(ngModel)]="nuevo.apellidos">
  <input type="text" name="empresa" placeholder="Empresa: " [(ngModel)]="nuevo.empresa">
  <input type="text" name="puesto" placeholder="Nuevo Puesto: " [(ngModel)]="nuevo.puesto">
  <input type="number" name="CP" placeholder="Codigo Postal: " [(ngModel)]="nuevo.cp">
  <input type="text" name="provincia" placeholder="Provincia: " [(ngModel)]="nuevo.provincia">
  <input type="number" name="telefono" placeholder="Nuevo Telefono: " [(ngModel)]="nuevo.telefono">
  <input type="date" name="fecha" placeholder="Fecha: " [(ngModel)]="nuevo.fechaNacimiento">
  <button type="submit">Agregar</button>
</form>
