<!-- <p>articulos works!</p> -->
<table>
  <thead>
    <tr>
      <th>Cod. Artículo</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio/Unidad</th>
      <th>Unidades de stock</th>
      <th>Stock de Seguridad</th>
      <th>Imágen</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of articulo">
      <td>{{ item.codArticulo }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.descripcion }}</td>
      <td>{{ item.precio | currency: "EUR" }}</td>
      <td>{{ item.stock }}</td>
      <td>{{ item.securityStock }}</td>
      <td><img src="{{ item.imagen }}" style="width: 5rem" /></td>
      <td><button>Del</button></td>
    </tr>
  </tbody>
</table>
